
<div class="mama">
  <div class="now_playing">
    <% if @current_song %>
      Now playing: <br> <%= @current_song.song_name %>
      <% else%>
      Search for a song! <br>
      son
    <% end %>
  </div>
  <div class="flatiron">
    <img src="/img/flatiron_black.png">
  </div>
<div class="left-container">
  <h2> PLAYLIST </h2>
 <div class="left-column">
  <div class="list-play">
      <ul>
        <% if @songs %>
          <% @songs.each_with_index do |song, i| %>
            <% if i < 10000000 %>
              <div id="list">
                <li>
                  <a href="/songs/<%= song.id %>/upvote">
                  <div class="fa fa-arrow-up upvote" >
                        
                  </div>
                  </a>
                  <div class="upvote-count">
                  <%= song.upvotes %> 
                  </div>
                  
                  <div id="song_info">
                  <%= song.song_name %>  <br>
                  <%= song.artist_name %>  <br>
                  <%= song.album_name %> <br>
                  </div>
                </li>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      </div>
    </div>
   </div>
    <br> 
    <div class="right-container">
      <h2> SEARCH RESULTS </h2>
     <div class="right-column">
    <div class="list-search">
    <!-- <div class="search-results"> -->

    <% if @queries %>
      <% @queries.each do |query| %>
        <form action="/playlist/add" method="post">
          <input type="hidden" name="song[song_name]" value="<%= query['song_name']%>">
          <input type="hidden" name="song[artist_name]" value="<%= query['artist_name']%>">
          <input type="hidden" name="song[spotify_id]" value="<%= query['spotify_id']%>">
          <div class="divimage-search-hide">
          <div class="divimage">
            <img src="<%= query['album_art']%>" height="70" width="70">
          </div>
          <input type="submit" id="search-hide" value="<%= query['song_name']%>&#13;&#10; <%=query['artist_name']%>&#13;&#13;&#10; <%=query['album_name']%>&#13;">
          <br>
          
          </div>
          
        </form>
      <% end %>
    <% end %>
      <!-- </div> -->
    </div>
  </div>
</div>
    
  <div class="middle-column">
    <% if @current_song %>
      <img src="<%= @current_song.album_art %>" >
    <% else %>
    <img src="/img/boombox.png">
    <% end %>
    <div id="search">
      <form action="/search" method="get">
        <input id="bar" type="text" name="q" placeholder="search by song, artist or album name">
        <input type="submit" value="SEARCH" id="search-button">
      </form>
    </div>
  </div>
</div>
    
 
