<div class="mama">
  <div class="now_playing">

    <% if @current_song %>
      <strong>Now playing:</strong> <br> <%= @current_song.artist_name %> - <%= @current_song.song_name %><br />
    <% end %>
  </div>
  <div class="flatiron">
    <img src="/img/flatiron_black.png">
  </div>
<div class="left-container">
  <h2> PLAYLIST </h2>
 <div class="left-column">
  <div class="list-play">
      <ul>
        <% if @songs %>
          <% @songs.each_with_index do |song, i| %>
            <% if i < 10000000 %>
              <div id="list">
                <li>
                  <a href="/songs/<%= song.id %>/upvote">
                  <% if Voter.find(ip_address: @ip, song_id: song.id)%>
                    <div class="fa fa-arrow-up upvote" style="color: orange;">
                  <% else %>
                    <div class="fa fa-arrow-up upvote">
                  <% end %>
                  </div>


                  </a>
                  <div class="upvote-count">
                  <%= song.upvotes %> 
                  </div>
                  
                  <div id="song_info">
                    <% if song.creator_ip == @ip %>
                      <font color="green">
                        <strong><%= song.artist_name %></strong><br>
                        <%= song.song_name %>   <br>
                      <em> <%= song.album_name %> </em> <br>
                    </font>
                    <% else %>
                      <strong><%= song.artist_name %> </strong><br>
                      <%= song.song_name %>   <br>
                      <em> <%= song.album_name %> </em> <br>
                    <% end %>
                  </div>
                </li>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      </div>
    </div>
   </div>
    <br> 
    <div class="right-container">
      <h2> SEARCH RESULTS </h2>
     <div class="right-column">

    <div class="list-search">

      <% if @queries && @queries.length > 0 %>
        <% @queries.each_with_index do |query,index| %>
          <form action="/playlist/add" method="post" name="search<%= index %>">

            <input type="hidden" name="song[song_name]" value="<%= query['song_name']%>">
            <input type="hidden" name="song[artist_name]" value="<%= query['artist_name']%>">
            <input type="hidden" name="song[album_name]" value="<%= query['album_name']%>">
            <input type="hidden" name="song[spotify_id]" value="<%= query['uri']%>">
            <input type="hidden" name="song[album_cover]" value="<%= query['album_art']%>">

            <div class="divimage-search-hide clearfix">
              <div class="divimage">
                <img src="<%= query['album_art']%>" height="70" width="70">
              </div>
               <a class="search-hide" onclick="document.search<%=index%>.submit(); return false;"> <strong> <%=query['artist_name']%></strong><br><%=query['song_name']%> <em><br><%=query['album_name']%></em> </a>
            </div>

          </form>
        <% end %>
        <%else%>
        <div id="resultless">
          We searched the darkest corners of the web,<br>
          but alas our search was fruitless.
        </div>
      <% end %>

    </div>
  </div>
</div>
    
  <div class="middle-column">
    <% if @current_song %>
      <% @current_song.album_cover ||= "/img/boombox.png" %>
      <div class="album-image"><img src="<%= @current_song.album_cover%>"></div>
    <%# else %>
<!--       <div class="album-image"><img src="/img/boombox.png"></div> -->
    <% end %>
    <div id="search">
      <form action="/search" method="get">
        <input id="bar" type="text" name="q" placeholder="search by song, artist or album">
        <input type="submit" value="search" id="search-button">
      </form>
    </div>
  </div>
</div>
