<div class="mama">
  <div class="now_playing">
    <% if @current_song %>
      Now playing: <br> <%= @current_song.song_name %><br />
    <% end %>
  </div>
  <div class="flatiron">
    <img src="/img/flatiron.png">
  </div>
<div class="left-container">
  <h2> PLAYLIST </h2>
 <div class="left-column">
  <div class="list">
      <ul>
        <% if @songs %>
          <% @songs.each_with_index do |song, i| %>
            <% if i < 10000000 %>
              <div id="list">
                <li>
                  <a href="/songs/<%= song.id %>/upvote">
                  <div class="fa fa-arrow-up upvote" >
                        
                  </div>
                  </a>
                  <div class="upvote-count">
                  <%= song.upvotes %> 
                  </div>
                  
                  <div id="song_info">
                  <%= song.song_name %>  <br>
                  <%= song.song_name %>  <br>
                  <%= song.song_name %> <br>
                  </div>
                </li>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      </div>
    </div>
   </div>
    <br> 
    <div class="right-container">
      <h2> SEARCH RESULTS </h2>
     <div class="right-column">

    <div class="search-results">
    <% if @queries %>
      <% @queries.each do |query| %>
        <form action="/playlist/add" method="post">
          <input type="hidden" name="song[song_name]" value="<%= query[:song_name]%>">
          <input type="hidden" name="song[artist_name]" value="<%= query[:artist_name]%>">
          <input type="hidden" name="song[spotify_id]" value="<%= query[:spotify_id]%>">
          <input type="submit" value="<%= query[:song_name] %>">
        </form>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
    
  <div class="middle-column">
    <img src="/img/boombox.png">
    <div id="search">
      <form action="/spotify" method="get">
        <input type="text" name="search" placeholder="enter something">
        <br>
        <input type="submit" value="search">
      </form>
    </div>
  </div>
</div>
